<p-toolbar [style]="{ height: '100px' }">
  <div class="p-toolbar-group-start">
    <img src="assets/icons/icon-72x72.png" alt="logo" />
  </div>
  <div class="p-toolbar-group-center">
    {{ title }}
  </div>
  <div class="p-toolbar-group-end">
    <i class="pi pi-shopping-cart" style="font-size: 2rem"></i>
  </div>
</p-toolbar>
<p-splitter
  [style]="{ height: '100vh' }"
  [panelSizes]="[20, 80]"
  [minSizes]="[15, 30]"
>
  <ng-template pTemplate>
    <app-panel-menu></app-panel-menu>
  </ng-template>
  <ng-template pTemplate>
    <main class="p-4">
      <router-outlet></router-outlet>
    </main>
  </ng-template>
</p-splitter>
<p-toast></p-toast>
