<p-toast></p-toast>

<h1 class="text-center">Liste des produits</h1>

<div class="flex justify-content-between align-items-center mb-4">
  <p-button label="Créer produit" (onClick)="onCreate()" />
  <a routerLink="/cart" class="cart-link">
    <p-button icon="pi pi-shopping-cart" severity="secondary">
      <span
        pBadge
        [value]="cartService.getTotalItems()"
        severity="danger"
      ></span>
    </p-button>
  </a>
</div>

<div class="filter-controls mb-4">
  <div class="p-field mr-2">
    <label for="search">Rechercher</label>
    <input
      id="search"
      type="text"
      pInputText
      [(ngModel)]="filterText"
      (ngModelChange)="applyFilters()"
    />
  </div>
  <div class="p-field">
    <label for="categoryFilter">Catégorie</label>
    <p-dropdown
      id="categoryFilter"
      [options]="categories"
      [(ngModel)]="filterCategory"
      (ngModelChange)="applyFilters()"
      placeholder="Toutes les catégories"
      [showClear]="true"
    />
  </div>
</div>

<p-dataView #dv [value]="filteredProducts()">
  <ng-template pTemplate="list" let-products>
    @for (product of products; track product) {
    <p-card class="block mb-2">
      <div class="flex align-items-center">
        <img [src]="product.image" [alt]="product.name" class="product-image" />
        <div class="ml-3">
          <span class="font-medium text-secondary text-sm">{{
            product.category
          }}</span>
          <div class="text-lg font-medium text-900 mt-2">
            {{ product.name }}
          </div>
          <div class="text-sm text-500 mt-2">{{ product.description }}</div>
          <div class="text-xl font-bold text-900 mt-2">
            {{ product.price | currency : "EUR" }}
          </div>
          <div class="flex align-items-center mt-2">
            <label for="quantity-{{ product.id }}" class="mr-2"
              >Quantité:</label
            >
            <p-inputNumber
              id="quantity-{{ product.id }}"
              [ngModel]="product.quantity"
              (ngModelChange)="onProductQuantityChange(product, $event)"
              mode="decimal"
              [showButtons]="true"
              [min]="0"
              [step]="1"
              [inputStyle]="{ width: '4rem' }"
            />
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button
            label="Ajouter au panier"
            icon="pi pi-shopping-cart"
            (onClick)="addToCart(product)"
          />
          <p-button
            label="Modifier"
            severity="secondary"
            (onClick)="onUpdate(product)"
          />
          <p-button
            label="Supprimer"
            severity="danger"
            (onClick)="onDelete(product)"
          />
        </div>
      </ng-template>
    </p-card>
    }
  </ng-template>
</p-dataView>

<p-paginator
  [rows]="rows()"
  [totalRecords]="filteredProducts().length"
  [first]="first()"
  (onPageChange)="onPageChange($event)"
  [rowsPerPageOptions]="[5, 10, 20]"
>
</p-paginator>

<p-dialog
  [(visible)]="isDialogVisible"
  [style]="{ width: '50vw' }"
  header="Ajout/Edition produit"
>
  @if (editedProduct()) {
  <app-product-form
    [product]="editedProduct()!"
    (productSave)="onSave($event)"
    (productCancel)="onCancel()"
  />
  }
</p-dialog>
